<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.objectstyle.wolips.launching.WOLocalJavaApplication">
    <stringAttribute key="WOJavaLocalApplicationLaunchConfigurationDelegate.OpenInBrowser" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/corejava_development/src/com/evergent/corejava/practise1/Employee6.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.objectstyle.wolips.launching.WORuntimeClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.evergent.corejava.practise1.Employee6"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="corejava_development"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${working_dir_loc_WOLips:corejava_development}"/>
</launchConfiguration>
